In [1]:
def cube(x):
    print(x**3)
cube(3)*2

27

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [2]:
def cube(x):
    return x**3
cube(3)*2

54

In [3]:
def square_root(x):
    x**(1/2)
square_root(25)

In [4]:
def square_root(x):
    print(x**(1/2))
square_root(25)*2

5.0

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [5]:
def square_root(x):
    return(x**(1/2))
square_root(25)*2

10.0

In [6]:
print("""    
              **          
              *  *
              *    *
              *      *
   ( a )      *        *          (c)
              *          *
              *            *
              ****|          *
              * * |            *
              *******************
              
                     (b)  
                     
            # (Right Angle Triangle)
                                               """)

              **
              *  *
              *    *
              *      *
   ( a )      *        *          (c)
              *          *
              *            *
              ****|          *
              * * |            *
              *******************

                     (b)

            # (Right Angle Triangle)

In [7]:
def hypotenuse (a, b):
    print((a**2+b**2) **0.5)
    
hypotenuse(3, 4)

5.0

In [8]:
def ID_Registration(Name,Surname,University,DOB):
    print("_" *30)
    
    print("Name: ",Name)
    print("Surname  :",Surname)
    print("University :",University)
    print("Date Of Birth  :",DOB)
    
    print("_" *30)
ID_Registration("Kayra","Cavdar","Oxford","01-June-1991")

______________________________
Name:  Kayra
Surname  : Cavdar
University : Oxford
Date Of Birth  : 01-June-1991
______________________________