In [1]:
indeed = "The number of {} job posting on linkedin this year is {}"
value2 = 15000
value1 = "Programming"
print(indeed.format(value1, value2))

The number of Programming job posting on linkedin this year is 15000

In [2]:
value2 = 1
value1 = "Hydrogen"
f"The atomic number of the element {value1} is {value2}"

'The atomic number of the element Hydrogen is 1'

In [3]:
surname = "Roy"
f"My surname is {surname.upper()}"

'My surname is ROY'

In [4]:
value2 = 1
value1 = "hydrogen"
f"The atomic number of the element {value1.capitalize()} is {value2}"

'The atomic number of the element Hydrogen is 1'

In [5]:
sample = f"I'm {2**5} years old"
print(sample)

I'm 32 years old

In [6]:
f"The result of 2**3 is {9-1, (6-2)*2, 2**3}"

'The result of 2**3 is (8, 8, 8)'