In [1]:
example = "python"
print(example)

python

In [2]:
#This is a comment\nIf a number is enclosed in quote, its type is now a string.

In [3]:
"100"#The expression on the left is now a string value.

'100'

In [4]:
example = "1,50,000"
type(example)

str

In [5]:
"Hello" + "Data"

'HelloData'

In [6]:
                                    'Python Is King'

'Python Is King'

In [7]:
"python"+""+"is king"

'pythonis king'

In [8]:
"python""+" "is king"

'python+is king'

In [9]:
"python"+ "is king"

'pythonis king'

In [10]:
"Hello"* 3

'HelloHelloHello'

In [11]:
2* "Python "*2

'Python Python Python Python '

In [12]:
"Hello" * "Hello"

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
"Data" * "5"

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
"hello" - "hello"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
"hello" \ 3

SyntaxError: unexpected character after line continuation character (911148017.py, line 1)