In [1]:
countries = ["USA","FRANCE","JAPAN","ITALY"]
print(all(countries))

True

In [2]:
names = ["JULIA","AHMET","ABRAHAM","SUSAN",0]
print(all(names))

False

In [3]:
empty = {}
print(all(empty))

True

In [4]:
example = " "
print(all(example))

True

In [5]:
values = [0,False,"Kayra"]
print(any(values))

True

In [6]:
values = [0,False]
print(any(values))

False

In [7]:
empty = {}
print(any(empty))

False

In [8]:
example = ""
print(any(example))

False

In [9]:
phone_brand = ["I Phone","Samsung","Huawai","Nokia","Xiomi"]

def length (x):
    return len(x)

map(length,phone_brand)

In [10]:
phone_brand = ["I Phone","Samsung","Huawai","Nokia","Xiomi"]

def length (x):
    return len(x)

list(map(length,phone_brand))

[7, 7, 6, 5, 5]

In [11]:
triangle_base_height = [(6,8),(10,20),(3,4),(6,8)]

def calculate_area(x):
    return(x[0]*x[1])/2

map(calculate_area,triangle_base_height)

In [12]:
triangle_base_height = [(6,8),(10,20),(3,4),(6,8)]

def calculate_area(x):
    return(x[0]*x[1])/2

list(map(calculate_area,triangle_base_height))

[24.0, 100.0, 6.0, 24.0]

In [13]:
list1 = [1,15,25,18,25,32,50,45]

def compare(x):
    return x<20

filter(compare,list1)

In [14]:
list1 = [1,15,25,18,25,32,50,45]

def compare(x):
    return x<20

list(filter(compare,list1))

[1, 15, 18]

In [15]:
letters_example = ['a','b','d','e','i','j','o']

def vowels_letter(x):
    vowels = ['a','e','i','o','u']
    return(True if x in vowels else False)

filter(vowels_letter,letters_example)

In [16]:
letters_example = ['a','b','d','e','i','j','o']

def vowels_letter(x):
    vowels = ['a','e','i','o','u']
    return(True if x in vowels else False)

list(filter(vowels_letter,letters_example))

['a', 'e', 'i', 'o']

In [17]:
list1 = ["a","b","c","d","e"]
list2 = [1,2,3,4]

zip(list1,list2)

In [18]:
list1 = ["a","b","c","d","e"]
list2 = [1,2,3,4]

print(list(zip(list1,list2)))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [19]:
country = ["Turkey","Germany","Italy","Sweden"]
tel_code = [90,49,39,46]

list(zip(country,tel_code))[2]

('Italy', 39)

In [20]:
country = ["Turkey","Germany","Italy","Sweden"]
tel_code = [90,49,39,46]

list(zip(country,tel_code))[0:2]

[('Turkey', 90), ('Germany', 49)]

In [21]:
list_example = ["Egypt","Denmark","Norway"]

enumerate(list_example)

In [22]:
list_example = ["Egypt","Denmark","Norway"]

list(enumerate(list_example))

[(0, 'Egypt'), (1, 'Denmark'), (2, 'Norway')]

In [23]:
list_example = ["Egypt","Denmark","Norway"]

dict(enumerate(list_example))

{0: 'Egypt', 1: 'Denmark', 2: 'Norway'}

In [24]:
a = ('Real Madrid','Barcelona','Milan')
b = enumerate(a)
print(b)

<enumerate object at 0x0000021166B601C0>

In [25]:
a = ('Real Madrid','Barcelona','Milan')
b = enumerate(a)
print(list(b))

[(0, 'Real Madrid'), (1, 'Barcelona'), (2, 'Milan')]

In [26]:
list_example = ["Egypt","Denmark","Norway"]

list(enumerate(list_example,start=2))

[(2, 'Egypt'), (3, 'Denmark'), (4, 'Norway')]

In [27]:
list_example = ["Egypt","Denmark","Norway"]

dict(enumerate(list_example,start=2))

{2: 'Egypt', 3: 'Denmark', 4: 'Norway'}

In [28]:
a = ('Real Madrid','Barcelona','Milan')
b = enumerate(a,start=10)
print(list(b)[1:])

[(11, 'Barcelona'), (12, 'Milan')]