In [1]:
def hypotenuse (a, b):
    print((a**2+b**2)**0.5)
hypotenuse(3, 4)

5.0

In [2]:
def new_cube (x):
    return x**3
new_cube(2)

8

In [3]:
def student_ID(name,lastname,age):
    print("Student Name:",name)
    print("LastName:",lastname)
    print("AGE:",age)
    
student_ID("Joseph","Roy","29")

Student Name: Joseph
LastName: Roy
AGE: 29

In [4]:
def hypotenuse(a, b):
    print((a**2+b**2)**0.5)
hypotenuse(6,8,)

10.0

In [5]:
def student_ID (name,lastname,age):
    print("Student Name:", name)
    print("Student LastName:", lastname)
    print("Student Age:", age)
    
student_ID (age=48,name="Joseph",lastname="Rye")

Student Name: Joseph
Student LastName: Rye
Student Age: 48

In [6]:
def student_ID (name,lastname,age=29):
    print("Student Name:", name)
    print("Student LastName:", lastname)
    print("Age:", age)
    
student_ID("Joseph","Rye")

Student Name: Joseph
Student LastName: Rye
Age: 29

In [7]:
def example(name,department = "Data Science"):
    print("My","Name Is",name,"I Work In The",department,"Department")
    
example("Kayra")

My Name Is Kayra I Work In The Data Science Department

In [8]:
def odd_even (*number):
    
    even=[]
    odd=[]
    for i in number:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    print("Even:",even)
    print("Odd:",odd)
    
odd_even(1,5,8,9,15,18,22,116,1256,14)

Even: [8, 18, 22, 116, 1256, 14]
Odd: [1, 5, 9, 15]

In [9]:
def country(*name):
    letter_A = []
    letter_B = []
    letter_C = []
    
    for i in name:
        if i [0] == "A":
            letter_A.append(i)
        elif i [0] == "B":
            letter_B.append(i)
        elif i [0] == "C":
            letter_C.append(i)
            
    print("Letter_A:",letter_A)
    print("Letter_B:",letter_B)
    print("Letter_C:",letter_C)
    
country("Albania","Bolivi","Colombia","Argentina","Brazil","Croatia","Australia","Belgium","Cyprus","Azerbaijan","Bangladesh","Czechia")

Letter_A: ['Albania', 'Argentina', 'Australia', 'Azerbaijan']
Letter_B: ['Bolivi', 'Brazil', 'Belgium', 'Bangladesh']
Letter_C: ['Colombia', 'Croatia', 'Cyprus', 'Czechia']

In [10]:
def country(*name):
    letter_A = []
    letter_B = []
    letter_C = []
    
    for i in name:
        if i [0] == "A":
            letter_A.append(i)
            
        elif i [0] == "B":
            letter_B.append(i)
            
        elif i [0] == "C":
            letter_C.append(i)
            
    print("Letter_B:", letter_B)
    
country("Albania","Bolivi","Colombia","Argentina","Brazil","Croatia","Australia","Belgium","Cyprus","Azerbaijan","Bangladesh","Czechia")

Letter_B: ['Bolivi', 'Brazil', 'Belgium', 'Bangladesh']

In [11]:
def country(*name):
    letter_A = []
    letter_B = []
    letter_C = []
    
    for i in name:
        if i [0] == "A":
            letter_A.append(i)
            
        elif i [0] == "B":
            letter_B.append(i)
            
        elif i [0] == "C":
            letter_C.append(i)
            
    print("Letter_C:", letter_C)
    
country("Albania","Bolivi","Colombia","Argentina","Brazil","Croatia","Australia","Belgium","Cyprus","Azerbaijan","Bangladesh","Czechia")

Letter_C: ['Colombia', 'Croatia', 'Cyprus', 'Czechia']

In [12]:
def football (**team):
    for key, value in team.items():
        print(key, "Is In", value)
        
dict_example = {"Arsenal":"England",
                "Barcelona":"Spain",
                "Galatasaray":"Turkey",
                "Inter":"Italy"}

football(**dict_example)

Arsenal Is In England
Barcelona Is In Spain
Galatasaray Is In Turkey
Inter Is In Italy

In [13]:
def example2 (**ID_param):
    name = []
    age = []
    
    for i, j in ID_param.items():
        name.append(i)
        age.append(j)
        
    print("Name:",name)
    print("Age:",age)
    
dict_example = {"George":25,
                "Joseph":27,
                "Kayra":15}

example2(**dict_example)

Name: ['George', 'Joseph', 'Kayra']
Age: [25, 27, 15]