In [1]:
list_example=[10,"Data",7.8,False]
set_example=set(list_example)
print(set_example)
print(type(set_example))

{False, 10, 7.8, 'Data'}
<class 'set'>

In [2]:
tuple1=("Name","Surname",1991,189.14)
set1=set(tuple1)
print(type(tuple1))

<class 'tuple'>

In [3]:
tuple1=("Name","Surname",1991,189.14)
example5=set(tuple1)
print(type(example5))

<class 'set'>

In [4]:
tuple_example=(15,"Data Science",15,8.6,"Data Science")
set_example2=set(tuple_example)
print(set_example2)

{8.6, 'Data Science', 15}

In [5]:
tuple1=("Joseph","Kayra",2017,"Joseph","Kayra",2017)
set1=(set(tuple1))
print(set1)

{'Kayra', 2017, 'Joseph'}

In [6]:
world="Hello Data Science"
set_example3=set(world)
set_example3[0]
print(set_example3)

TypeError: 'set' object is not subscriptable