In [1]:
my_tuple=("data","science",100,200,[10,"Python",25,8,9,"Number"])
print(my_tuple)
print(type(my_tuple))

('data', 'science', 100, 200, [10, 'Python', 25, 8, 9, 'Number'])
<class 'tuple'>

In [2]:
tuple1=("Python","Java","C++","SQL")
print(tuple1)
print(type(tuple1))

('Python', 'Java', 'C++', 'SQL')
<class 'tuple'>

In [3]:
my_tuple=("Python",)
print(my_tuple)
print(type(my_tuple))

('Python',)
<class 'tuple'>

In [4]:
tuple1=("Hello")
print(type(tuple1))

<class 'str'>

In [5]:
tuple1=("Hello",)
print(type(tuple1))

<class 'tuple'>

In [6]:
tuple_variable="hello",3,4,5,"Data","Science"
print(tuple_variable)
print(type(tuple_variable))

('hello', 3, 4, 5, 'Data', 'Science')
<class 'tuple'>

In [7]:
list1="Python","Java","C++","SQL"
print(list1)
print(type(tuple1))

('Python', 'Java', 'C++', 'SQL')
<class 'tuple'>

In [8]:
tuple_word="hello"
tuple_example2=tuple(tuple_word)
print(tuple_example2)

('h', 'e', 'l', 'l', 'o')

In [9]:
new_list=[10,20,"hello","world"]
new_tuple=tuple(new_list)
print(new_tuple)
print(type(new_tuple))

(10, 20, 'hello', 'world')
<class 'tuple'>